/* Reset */
* {
  margin: 0;
  padding: 0;
}

/* Body Styling */
.about-content {
  background-color: #d1d3c7;
  font-family: "Spartan";
  padding: 10px;
  background-color: #e1e3d6;
  background-size: cover;
  display: grid;
  align-items: center;
  justify-items: center;
  color: black;
}
.about-content .title {
  color: #2563eb;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-top: 32px;
}
.about-content img {
  max-width: 100%;
  width: 100%;
}
.about-content p {
  padding-top: 40px;
  text-align: justify;
  font-size: 20px;
}
.about-content .contact-detail {
  padding-top: 20px;
  padding: 20px;
  border-top: 1px solid black;
}
.about-content .contact-detail span {
  text-align: justify;
  display: block;
  padding: 2px;
  font-size: 20px;
}