/* Reset */
* {
  margin: 0;
  padding: 0;
}

/* Body Styling */
.content.about-page {
  background-color: #d1d3c7;
  font-family: "Spartan";
  padding: 10px;
  background-color: #e1e3d6;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: grid;
  align-items: center;
  justify-items: center;
  color: black;

  .header h1 {
    padding: 15px;
    text-align: center;
    color: #000;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: underline;
  }

  p {
    padding-top: 40px;
    text-align: justify;
    font-size: 20px;
  }

  .contact-detail {
    padding-top: 20px;
    padding: 20px;
    border-top: 1px solid black;

    span {
      display: block;
      padding: 2px;
      font-size: 20px;
    }
  }
}
