.carousel {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  aspect-ratio: 16/9;
  position: relative;
  z-index: 2;
  overflow: hidden;
}
.carousel .carousel-cell {
  height: 100%;
  width: 100%;
  position: relative;
}
.carousel .carousel-cell img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.carousel .carousel-cell .caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0.4) 70%, transparent 100%);
  padding: 120px 20px 20px 20px;
  color: white;
}
.carousel .carousel-cell .caption * {
  text-shadow: none;
}
.carousel .carousel-cell .caption .title {
  font-size: 24px;
  margin-bottom: 16px;
  color: #f8fafc;
}
.carousel .carousel-cell .caption .subtitle {
  color: #e2e8f0;
  font-weight: normal;
}
.carousel .prev,
.carousel .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 8px;
  font-size: 18px;
  border: 0;
  z-index: 20;
  cursor: pointer;
}
.carousel .prev {
  left: 0;
}
.carousel .next {
  right: 0;
}