@import url("https://fonts.googleapis.com/css?family=Spartan&display=swap");
/* Variables */
:root {
  --form-bg: #f8f4e5;
  --form-border: #f45702;
  --form-shadow: #dfae4b;
  --form-focus: #6bd4b1;
  --font-size: 12pt;
  --font-face: "Spartan";
  --font-color: #2a293e;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
}

/* Body Styling */
.contact-page {
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: grid;
  align-items: center;
  justify-items: center;
  font-size: var(--font-size);
  font-family: var(--font-face);
  color: var(--font-color);
  /* Form Styling */
  /* Form Element Styling */
  /* Heading Styling */
  /* Button Styling */
  /* Button Hover Styling */
  /* Input and Textarea Styling */
  /* Input and Textarea Focus Styling */
  /* Textarea Styling */
}
.contact-page .contact-us {
  background: var(--form-bg);
  padding: 20px; /* Adjusted padding for smaller screens */
  border-top: 5px solid var(--form-border);
}
.contact-page .ui-input-text {
  background-color: transparent;
  border: 0;
}
.contact-page .title {
  padding: 10px;
  font-size: 24px;
  text-align: center;
  margin: 20px 0;
}
.contact-page label,
.contact-page input,
.contact-page textarea {
  display: block;
  width: 100%;
  font-size: var(--font-size);
  line-height: calc(var(--font-size) * 2);
  font-family: var(--font-face);
}
.contact-page input {
  margin-bottom: calc(var(--font-size) * 1); /* Adjusted margin for smaller screens */
}
.contact-page h3 {
  font-weight: normal;
  font-size: 10pt;
  line-height: calc(var(--font-size) * 2);
  font-style: italic;
  margin: 0 0 0.5em 0;
}
.contact-page button {
  display: block;
  margin-top: 10px; /* Adjusted margin for smaller screens */
  line-height: calc(var(--font-size) * 2);
  padding: 0 10px; /* Adjusted padding for smaller screens */
  border: none;
  background: var(--form-border);
  color: white;
  letter-spacing: 2px;
  transition: 0.2s all ease-in-out;
  border-bottom: 2px solid transparent;
  outline: none;
}
.contact-page button i {
  margin-right: 5px;
}
.contact-page button:hover {
  background: inherit;
  color: var(--form-border);
  border-bottom: 2px solid var(--form-border);
}
.contact-page input,
.contact-page textarea {
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  background: var(--form-bg);
  padding-left: 5px;
  outline: none;
}
.contact-page input:focus,
.contact-page textarea:focus {
  border: 1px solid var(--form-focus);
}
.contact-page textarea {
  resize: none;
}