footer,
.footer {
  background-color: #ad8451 !important;
}
footer .socials,
.footer .socials {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
footer .socials a,
.footer .socials a {
  text-decoration: none;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 99999px;
  background-color: #d1d3c7;
  font-size: 20px;
  color: #0f172a;
}
footer .copyright,
.footer .copyright {
  text-align: center;
  padding: 20px;
  color: white;
  font-weight: normal;
  font-size: 14px;
  text-shadow: none;
}