* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header[data-role="header"] {
  * {
    text-shadow: none;
    box-shadow: none;
  }

  background-color: #ad8451;

  &.destination-header {
    .ui-btn {
      color: white;
      gap: 4px;
    }
  }

  .ui-btn {
    box-shadow: none;
    color: black;
    background-color: transparent;
    border: 0;
    padding: 8px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    i {
      margin: 0;
      text-align: center;
      font-size: 18px;
    }
  }
}
