* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.ui-content {
  padding: 0;
  max-width: 1024px;
  margin: 0 auto;
}

.main-content {
  padding: 1rem;
}
.main-content * {
  text-shadow: none;
}

.description {
  padding: 16px;
  margin-bottom: 68px;
  margin-top: 64px;
}
.description h1 {
  color: #2563eb;
  text-align: center;
  margin-bottom: 24px;
}
.description p {
  text-align: center;
}

#destinations h2 {
  text-align: center;
  margin-bottom: 32px;
}
#destinations .destinations {
  display: grid;
  gap: 20px;
  padding: 20px;
}
#destinations .destinations .destination {
  width: 100%;
  aspect-ratio: 4/3;
  overflow: hidden;
  position: relative;
  color: white;
}
#destinations .destinations .destination:hover img {
  filter: blur(3px) brightness(80%);
  transition: filter 0.5s ease-in-out;
}
#destinations .destinations .destination:hover .title {
  opacity: 1;
  top: 50%;
}
#destinations .destinations .destination img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: blur(0px) brightness(80%);
}
#destinations .destinations .destination .title {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  width: 100%;
  text-align: center;
  font-weight: normal;
  transition: opacity 0.5s ease-in-out, top 0.25s ease-in-out;
}

@media screen and (min-width: 768px) {
  #destinations .destinations {
    grid-template-columns: 1fr 1fr;
  }
  #destinations .destinations img {
    filter: blur(0px) brightness(100%);
  }
  #destinations .destinations .title {
    opacity: 0;
  }
}