* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.ll-navbar {
  position: absolute;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  &.show {
    .navbar-content {
      left: 0;
    }

    .navbar-bg {
      display: block;
    }
  }

  .navbar-bg {
    content: " ";
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1999;
    background-color: #00000022;
    display: none;
  }

  .navbar-content {
    width: clamp(10px, 300px, 80%);
    height: 100%;
    z-index: 2000;
    position: fixed;
    left: -100%;
    top: 0;
    background-color: #d1d3c7;

    transition: left 0.25s ease-in-out;

    .brand {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      gap: 20px;
      background-color: #c49861;
      padding: 20px;

      img {
        width: 100px;
      }

      .brand-name {
        font-size: 20px;
        font-weight: 600px;
        color: white;
      }
    }

    .navigation-menu {
      .nav {
        list-style: none;
        padding: 0;

        li {
          a {
            display: flex;
            align-items: center;
            justify-content: start;
            gap: 12px;
            text-decoration: none;
            color: #0f172a;
            padding: 12px 16px;

            i {
              font-size: 32px;
            }
          }

          .collapsible {
            margin: 0;
            h4 {
              display: flex;
              justify-content: space-between;
              align-items: center;
              width: 100%;
              border: 0;

              ::after {
                content: "";
                display: none;
              }
              a {
                width: 100%;
                background-color: transparent;
                border: 0;
                box-shadow: none !important;
              }
              .label {
                width: 100%;
                display: flex;
                justify-content: start;
                align-items: center;
                gap: 12px;
              }

              span.status-icon {
                display: block;
                width: 40px;
                font-size: 32px;
                transition: transform 0.2s ease-in-out;
              }
            }

            &.ui-collapsible-collapsed .status-icon {
              transform: rotate(-90deg);
            }

            .ui-collapsible-content {
              background-color: transparent;
            }

            .ui-collapsible-content {
              padding: 0;
            }

            ul {
              list-style: none;
              a {
                padding-left: 40px;
              }
            }
          }
        }
      }
    }
  }
}
